table {
    width: 100%;
    padding: 2%;
    margin: 1%;
    border: 1px solid rgba(0, 0, 0, 0.276);
    box-shadow: 1px 2px 3px black;
    table-layout: fixed;

}

th {
    background-color: rgb(248, 212, 173);
    padding: auto;
    width: max-content;
    margin: 9%;
    border: 1px solid rgba(0, 0, 0, 0.276);
}

td {
    width: max-content;
    padding: 20px;
    text-align: center;
    margin: 3%;
}

tr {
    /* padding: auto;
    width: auto; */
    width:fit-content
}

form,
table {
    margin-left: auto;
    margin-right: auto;
}

.food-items{
    display: table;
   
    
}

#admin {
    width: 100%;
}

.save,
.discard,
input[type="file"]::file-selector-button,
select,
.back {
    text-align: center;
    background-color: rgb(177, 70, 73, 0.833);
    font-weight: bold;
    color: white;
}

option {
    font-weight: bold;
}

.editbtn {
    text-align: center;
    background-color: rgb(177, 70, 73, 0.833);
    font-weight: bold;
    border-radius: 10%;
    color: rgb(255, 240, 222);
    width: 50px;
}

button {
    width: 7rem;
    box-shadow: 1px 1px black;
    font-size: medium;
    margin-left: 1rem;
}

button:hover{
    background-color: rgb(255, 240, 222);
    color: rgb(177, 70, 73, 0.833);
}

.back{
    width: min-content;
    flex: 1;
}

img {
    border-radius: 10%;
    width: 100px;
    height: auto;
    object-fit: fill;
}

.selectrestaraunt{
    text-align: center;
}

a {
    color: rgb(255, 240, 222);
    text-decoration-line: none; 
}

a:hover{
    color: rgb(177, 70, 73, 0.833);
}

.back-btn{
    text-align:end;
}

#food_img{
    background-color: brown;
}

